*{font-family:Arial,"Microsoft YaHei"; margin:0;padding:0;color:#000;}
a{color:#fff;text-decoration:none;}
html,body{min-height: 100%;font-size:0.8rem;}
body{background-color: #EEEEF3;padding-bottom: 2.5rem;}
.fl{float:left;}
.fr{float:right;}
.clearfix::after{
    content: "";
    display: block;
    visibility: hidden;
    clear: both;
    overflow: hidden;
    font-size: 0;
}
.clear{clear:both;}
em{color:#c60a1e;font-weight: bold;font-size: 0.75rem;}
.show{visibility: visible;}
.hide{visibility: hidden;}
.disabled{
    background: #999;
    color: #ccc;
}
.noclick{opacity: 0.6;}
.text_ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
/* 头部导航 */
.header{
    position: fixed;
    top: 0;
    width: 100%;
    height:2.5rem;
    line-height: 2.5rem;
    background-color:#EEEEF3;
    display:-moz-box; /* Firefox */
    display:-webkit-box; /* Safari and Chrome */
    display:box;
    z-index:100;
}
.headItem{
	position:relative;
    -moz-box-flex:1.0; /* Firefox */
    -webkit-box-flex:1.0; /* Safari and Chrome */
    box-flex:1.0;
    color: #353535;
    font-size: 0.75rem;
    text-align: center;
}
.headItem .newtip:before {
    content: "";
    position: absolute;
    display: block;
    width: 0.35rem;
    height: 0.35rem;
    background-color: #00C335;
    border-radius: 50%;
    top: 0.8rem;
    left: 3rem;
}
.indexHeadCover{
    width: 100%;
    height: 2.2rem;
}
.headCover{
    width: 100%;
    height: 2.5rem;
}
.on{background-color: #FFFFFF;}
/* 底部导航 */
.footer{
    width:100%;
    display: box;
    display: -webkit-box;
    display: -moz-box;
    position: fixed;
    bottom: 0;
    height: 2.5rem;
    /*line-height: 2.5rem;*/
    border-top: 1px solid rgba(204,204,204,0.6);
}
.footer a {
    display: block;
    width: 50%;
    -webkit-box-flex:1;
    -moz-box-flex:1;
    box-flex:1;
    font-size: 0.7rem;
    color: #B3B3B3;
    text-align: center;
    background-color: #f7f7fa;
}
.footer a:first-child{border-right: 1px solid #CCC;}
.footerItem1,.footerItem2,.footerItem3{
    display: block;
    width: 1.3rem;
    height: 1.1rem;
    /*border-radius: 0.25rem;*/
    vertical-align: middle;
    margin: 3px auto;
}
.footerItem1{
    background: url(../images/骚盒旗舰店2x灰.png) center no-repeat;
    background-size: 1.3rem 1.1rem;
}
.footerItem2{
    background: url(../images/个人中心2x灰.png) center no-repeat;
    background-size: 1.1rem 1.1rem;
}
.footerItem3{
    background: url(../images/icon_my_shop.png) center no-repeat;
    background-size: 1.1rem 1.1rem;
}
.active{
    color: rgba(131,38,122,0.83)!important;
    background-color:#f7f7fa!important;
}
.active_mima{
    color: #ffffff!important;
    background-color: #83267b!important;
}
.active .footerItem1{
    background: url(../images/骚盒旗舰店2x紫.png) center no-repeat;
    background-size: 1.3rem 1.1rem;
}
.active .footerItem2{
    background: url(../images/个人中心2x紫.png) center no-repeat;
    background-size: 1.1rem 1.1rem;
}
.active .footerItem3{
    background: url(../images/icon_my_shop2.png) center no-repeat;
    background-size: 1.1rem 1.1rem;
}
.active .myshop{
    background: url(../images/shop_message/我的店铺2x紫.png) center no-repeat;
    background-size: 1.3rem 1.1rem;
}
.cartBtn{
    padding: 0 1.25rem;
}
/*列表项*/
.vg-list-item{
    background:#fff;
    position:relative;
    -webkit-box-pack:center;
}
.vg-list-item_s{
    background:#fff;
    position:relative;
    -webkit-box-pack:center;
}
.vg-flex-wrap{
    display:-webkit-box;
    display:box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
/*        height: 44px;
    line-height: 44px;*/
}
.vg-flex-item{
    display:block;
    -webkit-box-flex:1;
    box-flex:1;
}
.vg-list-icon{
    padding:0.6rem 0 0.6rem 15px;
    width:1.1rem;
    height:1.1rem;
    display:block;
}
.vg-list-con{
    font-size:0.8rem;
    padding-left:0.5rem;
    height: 2.2rem;
    line-height: 2.2rem;
}
.right_info{
    color:#888;
    font-size: 0.75rem;
    height: 2.2rem;
    line-height: 2.2rem;
    padding-right:2rem;
    position: relative;
}
/*后缀箭头*/
.vg-list-item:after{
    position:absolute;
    display:block;
    content:"";
    width:0.3rem;
    height:0.3rem;
    right:0.75rem;
    top:50%;
    margin-top:-0.15rem;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border-width: 2px 2px 0 0;
    border-color: #C8C8CD;
    border-style: solid;
}

.vg-list-item_s:after{
    position:absolute;
    display:block;
    content:"";
    width:0.3rem;
    height:0.3rem;
    right:0.75rem;
    top:50%;
    margin-top:-0.15rem;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border-width: 2px 2px 0 0;
    border-color: #C8C8CD;
    border-style: solid;
}

/* 按钮样式 */
.btn{
    font-family: Arial,"Microsoft YaHei";
    display: block;
    margin:0 auto;
    width: 17.25rem;
    height: 2.2rem;
    font-size: 0.9rem;
    color: #FFFFFF;
    text-align: center;
    line-height: 2.2rem;
    background-color: #83267b;
    border-radius: 0.25rem;
}
.smbtn{
    padding: 0px 24px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size:13px;
    color:#5c3164;
    border: 1px solid #5c3164;
    border-radius: 3px;
}
/* 输入框 */
input{border:0;}
/*选择地区输入框外包裹*/
.addAddress-box label{padding-top:0.75rem;height:1.3rem;line-height:1.3rem;width:3.5rem;display:inline-block; }
.addAddress-box .addAddress-input{/*margin-top:0.6rem;*/height:1.3rem;line-height:1.3rem;width:100%;-webkit-box-sizing:border-box;
    box-sizing:border-box;}
.addAddress-box .addAddress-input input,.addAddress-box .addAddress-input textarea{width:100%;
    height:100%;border:none;}
/*省市区*/
.city-table{width:100%;}
.city-table td{width:33%;}
.city-table td select{width:100%;height:100%;}
/* 弹窗 */
.window {
    position: fixed;
    display: none;
    z-index: 3;
    width: 7.6em;
    min-height: 7.6em;
    top: 180px;
    left: 50%;
    margin-left: -3.8em;
    background: rgba(40, 40, 40, 0.75);
    text-align: center;
    border-radius: 5px;
    color: #FFFFFF;
}
.window_icon {
    display: block;
    width: 2.75rem;
    height: 2.75rem;
    margin: 0 auto;
    margin-top: 22px;
    background: url(../images/window.png) center no-repeat;
    background-size: 2.475rem 1.775rem;
}
.window_content {
    color: #ffffff;
    margin: 0 0 15px;
}
.weui_dialog {
    position: fixed;
    display: none;
    z-index: 13;
    width: 85%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #FAFAFC;
    text-align: center;
    border-radius: 3px;
    overflow: hidden;
}
.weui_dialog_hd {
    padding: 1.2em 0 .5em;
}
.weui_dialog_bd {
    padding: 0 20px;
    font-size: 15px;
    color: #888;
    word-wrap: break-word;
    word-break: break-all;
}
.weui_dialog_ft {
    position: relative;
    line-height: 42px;
    margin-top: 20px;
    font-size: 17px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.weui_dialog_title {
    line-height: 1.6;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 0.85rem;
}
.weui_dialog_bd {
    line-height: 1.6;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0 1rem;
    font-size: 0.75rem;
    color: #888;
    word-wrap: break-word;
    word-break: break-all;
}
.weui_btn_dialog.primary {
    color: #0BB20C;
/*     line-height: 1.6;
*/    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.weui_dialog_ft {
    position: relative;
    line-height: 2.1rem;
    margin-top: 1rem;
    font-size: 0.85rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.weui_dialog_ft a {
    display: block;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    color: #3CC51F;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.weui_dialog_ft:after {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    border-top: 1px solid #D5D5D6;
    color: #D5D5D6;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}
.weui_mask {
    position: fixed;
    display: none;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
}
/* 微信分享蒙版 */
.wx-share {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    z-index: 100;
    display: none;
}
.wx-share img {
    width: 80%;
    margin: 30px 10%;
}
/* 购物车悬浮 */
#cartIcon,.cartIcon{
    position: fixed;
    width: 2.95rem;
    height: 2.95rem;
    bottom: 4.4rem;
    right: 0.8rem;
}
.cartIcon a{
    position: absolute;
    width: 2.95rem;
    height: 2.95rem;
    border-radius: 50%;
}
.cartIcon a img{width:100%;}
#cartIcon .img,#cartIcon .shaixuan{
    position: absolute;
    width: 2.95rem;
    height: 2.95rem;
    background: url(../images/cart01.png) center no-repeat;
    -webkit-background-size: 1.15rem 1.25rem;
    background-size: 1.15rem 1.25rem;
    background-color:rgba(131,38,122,0.83);
    border-radius: 50%;
}
#cartIcon .shaixuan{
    background: url(../images/icon_screening.png) center no-repeat;
    -webkit-background-size: 2.95rem 2.95rem;
    background-size: 2.95rem 2.95rem;
}
#cartIcon .buynum{
    display: block;
    width: 0.9rem;
    height: 0.9rem;
    line-height: 0.9rem;
    font-size: 0.5rem;
    color:#FFFFFF;
    text-align: center;
    background-color: #09BB07;
    border-radius: 50%;
    position: absolute;
    right: -0.2rem;
}
/*使用微信列表*/
.weui_cells:before {
    border-top: 1px solid #fff;
/*   width: 1rem;
    height: 1rem;
    left:50%;
    top: 50%;
    margin: -0.5rem;
    font-size: 14px;
    color: red;
    text-align: center;
    line-height: 1rem;*/
}
.weui_cells{
    margin:0 0 0.25rem;
  /*  width: 1rem;
    height: 1rem;
    left:50%;
    top: 50%;
    margin: -0.5rem;
    font-size: 14px;
    color: red;
    text-align: center;
    line-height: 1rem;*/
}
.weui_label {width:5.25rem;}
.weui_btn_primary,.weui_btn_warn {
    font-size:0.85rem;
}
/*使列表上下滚动大一点,避免键盘弹上来挡住留言*/
.order_detail_content{margin-bottom:10rem;}
/* 版权 */
.copyright{
    margin-top: 20px;
}
.copyright .copyright-top img {
    width: 100%;
}
.copyright .copyright-top {
    height: 1.65rem;
    width: 4.25rem;
    margin: 0 auto;
    color: #b2b2b2;
}
.copyright h3 {
    font-size: 0.55rem;
    text-align: center;
    color: #b2b2b2;
}
/* 报错 */
.error{
    margin-top: 5rem;
    text-align: center;
}
.error h1{
    text-align: center;
    font-size: 1rem;
    color:#979797;
    margin-bottom: 0.8rem;
}
.error p{
    color: #888;
    font-size: 0.65rem;
    text-align: center;
    margin-bottom: 1.2rem;
}
.error img{
    display: block;
    margin:0 auto;
    margin-bottom: 1.2rem;
}
.error .down_btn{
    display: block;
    margin:0 auto;
    width: 5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    color: #83267b;
    font-size: 0.65rem;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #83267b;
}