/*头部*/
.bg_top{
    background:url("../images/icon_top_bg.png") center no-repeat;
    background-size:cover;
    height:100%;
    width:100%;
}
.portrait{
    width:100%;
    height:7rem;
    text-align:center;
}
.bg_top img{
    /*display:block;*/
    width:3.75rem;
    height:3.75rem;
    border-radius:50%;
    border:2px solid #fff;
    margin:0.85rem auto 0;
}
.shop_title p{
    color:#fff;
    font-size:0.8rem;
    width:9rem;
    margin:0 auto;
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
    text-align:center;
}

/*商品列表*/
.pro-list {
    padding: 0px 0.25rem 10rem;
}
.recommend h1 {
    height: 1.3rem;
    line-height: 1.3rem;
    font-size: 0.75rem;
    color: #000000;
    background-size: 0.75rem;
    margin-bottom: -0.5rem;
}
.newPub h1 {
    height: 1.3rem;
    line-height: 1.3rem;
    font-size: 0.75rem;
    color: #000000;
    background-size: 0.75rem;
    margin-top: 0.5rem;
    margin-bottom: -0.5rem;
}
.pro-list .list-item:nth-child(2n+1) {
    padding-right: 0.25rem;
}
.pro-list .list-item {
    width: 50%;
    margin-top: 0.5rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
}
.pro-list .list-item-box .list-item-t1 {
    padding: 0.25rem 0.25rem 0;
    color: #000000;
    line-height: 0.9rem;
    font-size: 0.75rem;
}
.pro-list .list-item-box {
    position: relative;
    background: white;
    padding-bottom: 0.7rem;
    overflow: hidden;
}
.list-item-img{
    padding:0.25rem;
}
.list-item-img img {
    height:8.4rem;
    width: 100%;
    display: block;
}
.pro-list .list-item-box .list-item-price {
    font-size: 0.75rem;
    padding-top: 0.3rem;
    padding-left: 5px;
    padding-right: 5px;
    color: #c60a1e;
    position:relative;
}
.list-item-price .old-price {
    text-decoration: line-through;
    font-size: 0.75rem;
    color: #999;
}
.downbtn{
    margin-left: 2.2rem;
}
.list-item-price .price_min{
    font-size:0.35rem;
}
.list-item-price em{
    font-size:0.9rem;
    margin-right:5px;
}
.list-item{
    position:relative;
}
.addbuy{
    position:absolute;
    display:block;
    border:1px solid #000000;
    border-radius:1.1rem;
    width:2.9rem;
    height:1.1rem;
    line-height:1.1rem;
    text-align:center;
    font-size:0.7rem;
    top:10.85rem;
    right:0.01rem;
    margin:0.5rem;
}
/*店铺预览*/
.preinfo{
    display: block;
    text-align: center;
    width: 90%;
    height: 40px;
    line-height: 40px;
    color: #ffffff;
    margin: 100px auto;
    border: 3px solid #ffffff;
}
#wxShare{
    display: block;
}
